.map {
  margin-top: 5vh;
  height: 70vh;
  width: 90vw;
  padding-bottom: 5px;
}

#wrapper div {
  width: 120px;
  background-color: rgba(0,0,255,.1)
}

#wrapper{
  display: flex;
  height: 100px;
  background-color: rgba(255,0,0,0.1);
}

#logoimage{
  width: 30vh;
  height: 100%;
  padding-bottom: 5vh;
  padding-top: 8vh;
}

#logotext{
  font-family: Grandstander;
  font-size: 3vmax;
  text-align: center;
  color: #D3FBD8;
}

#photoGallery{
  padding-top: 1vw;
}
